---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import MenuAdmin from "../components/MenuAdministrador.astro";
import InformacionFacultad from "../components/InformacionFacultad.astro";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
import type { CustomUser } from "../../auth.config";
import { getSession } from "auth-astro/server";
import CarruselUTA from "@/components/Home/CarruselUTA.astro";
import { actions } from "astro:actions";

const session = await getSession(Astro.request);
let esAdmin = false;

if (session?.user) {
    const user = session.user as CustomUser;
    const rol = user.rol?.toUpperCase();
    esAdmin = rol === "ADMINISTRADOR" || rol === "MASTER";
}

const id_fac = "a1b2c3d4-e5f6-4a7b-8c9d-1a1a1a1a1a1a";

const { data: pagina } = await Astro.callAction(
    actions.getPaginaSeleccionada,
    {},
);
---

<Layout>
    <Header />
    {esAdmin ? <MenuAdmin /> : <Navbar />}
    <CarruselUTA
        img1={pagina?.facultad?.img_caru1 ?? ""}
        img2={pagina?.facultad?.img_caru2 ?? ""}
        img3={pagina?.facultad?.img_caru3 ?? ""}
        tit_caru1={pagina?.facultad?.tit_caru1 ?? ""}
        tit_caru2={pagina?.facultad?.tit_caru2 ?? ""}
        tit_caru3={pagina?.facultad?.tit_caru3 ?? ""}
        des_caru1={pagina?.facultad?.des_caru1 ?? ""}
        des_caru2={pagina?.facultad?.des_caru2 ?? ""}
        des_caru3={pagina?.facultad?.des_caru3 ?? ""}
        modoAdmin={esAdmin}
    />
    <InformacionFacultad
        tituloFacultad={pagina?.facultad?.nom_fac ?? ""}
        decano={pagina?.facultad?.dec_fac ?? ""}
        decanoImagen={pagina?.facultad?.dec_img ?? ""}
        subdecano={pagina?.facultad?.sub_fac ?? ""}
        subdecanoImagen={pagina?.facultad?.sub_img ?? ""}
        tituloDescripcion="Descripción"
        contenidoDescripcion={pagina?.facultad?.des_fac ?? ""}
        imagenDescripcion={pagina?.facultad?.img_des ?? ""}
        tituloMision="Misión"
        contenidoMision={pagina?.facultad?.mis_fac ?? ""}
        imagenMision={pagina?.facultad?.img_mis ?? ""}
        tituloVision="Visión"
        contenidoVision={pagina?.facultad?.vis_fac ?? ""}
        imagenVision={pagina?.facultad?.img_vis ?? ""}
        responsable={pagina?.facultad?.res_fac ?? ""}
        responsableImagen={pagina?.facultad?.res_img ?? ""}
        modoAdmin={esAdmin}
    />
    <div class="h-15 bg-white"></div>
    <Footer
        Twitter={pagina?.facultad?.twit_fac}
        Facebook={pagina?.facultad?.face_fac}
        Instagram={pagina?.facultad?.inst_fac}
        Direccion={pagina?.facultad?.dir_fac}
        Correo={pagina?.facultad?.cor_fac}
        Solicitud={pagina?.facultad?.enl_sol}
    />
</Layout>
