---
import "../styles/global.css";
const { nombre, facultad, rol, imagen} = Astro.props;
---

<figure class="flex flex-col items-center bg-white shadow-md p-6 w-72 text-center relative transition hover:shadow-lg duration-300 hover:-translate-y-[5px] border border-gray-100">

  <div class="relative w-40 h-50 mb-4 group">
    <label for="imagen-upload" class="block cursor-pointer w-full h-full z-0">
      <img
        src={imagen}
        alt={`${nombre}`}
        class="w-full h-full object-cover border border-gray-300"
      />
    </label>
  </div>

  <figcaption class="w-full mt-4">
    <p class="text-lg font-semibold text-red-900">
      {nombre}
    </p>
    <p class="text-sm text-gray-600 mt-1">{rol}</p>
    <p class="text-sm text-gray-700 mt-1">{facultad}</p>
  </figcaption>
</figure>
