---
import TarjetaConImagen from "../components/ContenedorInfo.astro";
import "../styles/global.css";
import Evento from "../components/CardCarousel.astro";
import TarjetaPersona from '../components/CardPersona.astro';
import prisma from "@/db";
const {
  tituloDescripcion,
  contenidoDescripcion,
  imagenDescripcion,
  tituloMision,
  contenidoMision,
  imagenMision,
  tituloVision,
  contenidoVision,
  imagenVision,
  modoAdmin = false,
} = Astro.props;

const eventosDestacados = await prisma.eventos.findMany({
  where: {
    es_destacado: true,
  },
  take: 6,
  orderBy: {
    fec_ini_eve: "desc",
  },
});

const slides = [];
for (let i = 0; i < eventosDestacados.length; i += 2) {
  slides.push(eventosDestacados.slice(i, i + 2));
}
---
  <section class="py-12 bg-gray-100 text-center">
  <h2 class="text-2xl font-bold text-red-800 mb-6">Equipo Académico</h2>
  <div class="flex flex-wrap justify-center gap-6">
    <TarjetaPersona
    titulo="Ing."
      nombre="Franklin"
      apellido="Mayorga"
      master=", Mg."
      rol="Decano"
      facultad="FISEI"
      imagen="https://ctt-talleresfisei.uta.edu.ec/img/autoridades/franklin_mayorga.png"
      modoEdit={modoAdmin}
    />
    <TarjetaPersona
      titulo="Ing."
      nombre="Luis"
      apellido="Morales"
      master=", Mg."
      rol="Subdecano"
      facultad="FISEI"
      imagen="https://ctt-talleresfisei.uta.edu.ec/img/autoridades/luis_morales.png"
    />
    <TarjetaPersona
      titulo="Ing."
      nombre="Daniel"
      apellido="Jerez"
      master=", Mg."
      rol="Responsable"
      facultad="FISEI"
      imagen="https://ctt-talleresfisei.uta.edu.ec/img/autoridades/daniel_jerez.jpeg"
    />
  </div>
</section>
     

<section class="py-12" style="background-color: rgb(245, 245, 245)">
  <div class="flex justify-between max-w-4xl mx-auto">
    <div>
      <h2 class="text-4xl font-bold text-red-900 mb-8">Eventos Destacados</h2>
    </div>
    <!-- Botón Todos los eventos -->
    <div>
      <a
        href="/cursosCompleto"
        class="boton-eventos group inline-flex items-center gap-3 px-6 py-3 text-white font-semibold shadow-md transition"
      >
        Todos los eventos
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5 transition-transform duration-300 group-hover:translate-x-1"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13 7l5 5m0 0l-5 5m5-5H6"></path>
        </svg>
      </a>
    </div>
  </div>
  <div class="relative max-w-4xl mx-auto relative">
    <!-- Contenedor del carrusel -->
    <div id="carousel-container" class="overflow-hidden w-full">
      <div
        id="carousel-inner"
        class="flex transition-transform duration-700 ease-in-out"
        style="width: 100%;"
      >
        {
          slides.map((grupo, index) => (
            <div
              class="min-w-full flex justify-center gap-6 p-2"
              data-slide-index={index}
            >
              {grupo.map((evento) => (
                <Evento
                  imagen={evento.img_eve}
                  titulo={evento.nom_eve}
                  estado={evento.id_asi_eve?.length?.toString() || "0"}
                  minutos={evento.dur_eve}
                  precio={evento.precio ?? 0}
                  fechaIni={evento.fec_ini_eve ?? null}
                  slug={evento.id_eve}
                />
              ))}
            </div>
          ))
        }
      </div>
    </div>

    <style>
      .boton-eventos {
        background-color: #cd982e;
        transition: background-color 0.3s ease;
      }

      .boton-eventos:hover {
        background-color: #916500; /* Color personalizado al hacer hover */
      }
    </style>

    <!-- Botones -->
    <button
      onclick="cambiarSlide(-1)"
      class="w-12 h-12 rounded-full bg-white text-red-900 flex items-center justify-center shadow-md hover:bg-red-900 hover:text-white transition-all absolute -left-4 top-50"
      aria-label="Anterior"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 19l-7-7 7-7"></path>
      </svg>
    </button>

    <button
      onclick="cambiarSlide(1)"
      class="w-12 h-12 rounded-full bg-white text-red-900 flex items-center justify-center shadow-md hover:bg-red-900 hover:text-white transition-all absolute -right-4 top-50"
      aria-label="Siguiente"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M9 5l7 7-7 7"></path>
      </svg>
    </button>

    <!-- Indicadores -->
    <div id="carousel-indicators" class="flex justify-center gap-5 mt-4">
      {
        slides.map((_, index) => (
          <div
            class="w-2.75 h-2.75 rounded-full transition-all duration-300 cursor-pointer"
            data-indicator-index={index}
            onclick={`irASlide(${index})`}
          />
        ))
      }
    </div>
  </div>
</section>

<TarjetaConImagen
  titulo={tituloDescripcion}
  contenido={contenidoDescripcion}
  imagenUrl={imagenDescripcion}
  columna="des_pag"
  modoEdicion={modoAdmin}
/>

<TarjetaConImagen
  titulo={tituloMision}
  contenido={contenidoMision}
  imagenUrl={imagenMision}
  invertir={true}
  columna="mis_pag"
  modoEdicion={modoAdmin}
/>

<TarjetaConImagen
  titulo={tituloVision}
  contenido={contenidoVision}
  imagenUrl={imagenVision}
  columna="vis_pag"
  modoEdicion={modoAdmin}
/>

<script src="/js/eventosFavoritos.js" defer is:inline></script>
