---
import TarjetaConImagen from "../components/ContenedorInfo.astro";
import "../styles/global.css";
import Evento from "../components/EventoCard.astro";
import prisma from "@/db";
const {
  tituloFacultad,
  tituloDescripcion,
  contenidoDescripcion,
  imagenDescripcion,
  tituloMision,
  contenidoMision,
  imagenMision,
  tituloVision,
  contenidoVision,
  imagenVision,
  modoAdmin = false
} = Astro.props;

const eventos = await prisma.eventos.findMany({
  take: 3,
  orderBy: {
    fec_ini_eve: "desc", 
  },
});
---

<div class="bg-gray-100 min-h-screen py-8">
  <div class="max-w-6xl mx-auto px-4 text-center">
    <h1 class="text-2xl md:text-3xl font-bold text-[#650000] mb-10">
      {tituloFacultad}
    </h1>
      <section class="py-12 bg-gray-50 text-center">
    <h2 class="text-3xl font-bold text-red-800 mb-10"> Eventos Favoritos </h2>

    <div class="flex flex-wrap justify-center gap-8 px-4">
      {eventos.map((evento) => (
        <Evento
          imagen={evento.img_eve}
          titulo={evento.nom_eve}
          estado={evento.id_asi_eve?.length?.toString() || "0"}
          horas={evento.dur_eve ?? 0}
          slug={evento.id_eve}
        />
      ))}
    </div>

    <div class="mt-10">
      <a
  href="/cursosCompleto"
  class="group inline-flex items-center gap-3 px-6 py-3 rounded-full bg-red-600 text-white font-semibold shadow-lg transition duration-300 hover:bg-red-700 hover:shadow-xl"
>
  Ver más
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-5 h-5 transition-transform duration-300 group-hover:translate-x-1"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path stroke-linecap="round" stroke-linejoin="round" d="M13 7l5 5m0 0l-5 5m5-5H6" />
  </svg>
</a>
    </div>
  </section>

    <TarjetaConImagen
      titulo={tituloDescripcion}
      contenido={contenidoDescripcion}
      imagenUrl={imagenDescripcion}
      columna="des_pag"
      modoEdicion={modoAdmin} 
    />

    <TarjetaConImagen
      titulo={tituloMision}
      contenido={contenidoMision}
      imagenUrl={imagenMision}
      invertir={true}
      columna="mis_pag"
      modoEdicion={modoAdmin}
    />

    <TarjetaConImagen
      titulo={tituloVision}
      contenido={contenidoVision}
      imagenUrl={imagenVision}
      columna="vis_pag"
      modoEdicion={modoAdmin}
    />
  </div>
</div>
