---
const {
  tituloFacultad,

  tituloDescripcion,
  contenidoDescripcion,
  imagenDescripcion,

  tituloMision,
  contenidoMision,
  imagenMision,

  tituloVision,
  contenidoVision,
  imagenVision
} = Astro.props;
---
 <body class="bg-gray-200">
<div class="max-w-6xl mx-auto px-4 py-8 text-center">
  <!-- Título principal -->
  <h1 class="text-2xl md:text-3xl font-bold text-[#650000] mb-10">
    {tituloFacultad}
  </h1>

  <!-- Grid 2 columnas -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
    
    <!-- Descripción -->
    <div class="bg-gray-50 rounded-2xl shadow-md px-6 py-6">
      <h2 class="text-xl font-bold text-[#650000] mb-2">{tituloDescripcion}</h2>
      <p class="text-[#010101]">{contenidoDescripcion}</p>
    </div>
    <div class="flex items-center justify-center">
      <img src={imagenDescripcion} alt="Imagen Descripción" class="w-full max-w-sm object-cover shadow-md" />
    </div>

    <!-- Imagen Misión -->
    <div class="flex items-center justify-center">
      <img src={imagenMision} alt="Imagen Misión" class="w-full max-w-sm object-cover shadow-md" />
    </div>
    <div class="bg-gray-50 rounded-2xl shadow-md px-6 py-6">
      <h2 class="text-xl font-bold text-[#650000] mb-2">{tituloMision}</h2>
      <p class="text-[#010101]">{contenidoMision}</p>
    </div>

    <!-- Visión -->
    <div class="bg-gray-50 rounded-2xl shadow-md px-6 py-6">
      <h2 class="text-xl font-bold text-[#650000] mb-2">{tituloVision}</h2>
      <p class="text-[#010101]">{contenidoVision}</p>
    </div>
    <div class="flex items-center justify-center">
      <img src={imagenVision} alt="Imagen Visión" class="w-full max-w-sm object-cover shadow-md" />
    </div>

  </div>
</div>
</body>